/* contacts */

.contacts {
    @media screen and (max-width:767px) {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 64px;

    }
     
    @media screen and (min-width:1200px)  {
      display: flex;
      margin-left: auto;
    }

}

.contacts__item:not(:last-child) {
    @media screen and (min-width:768px) and (max-width:1199px) {
        margin-bottom: 10px;
    }

    @media screen and (min-width:1200px) {
        margin-right: 50px;
    }
}

.contacts__link {
    display: flex;
    align-items: center;
    font-family: inherit;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color var(--time-duration) var(--timing-function);
    &:hover,
    &:focus {
         color: var(--axent-color);
    }

    @media screen and (min-width:768px) {
        
        font-size: 12px;
        line-height: 1.17;
         }
    @media screen and (min-width:1200px) {
        // padding-top: 32px;
        // padding-bottom: 32px;
        font-size: 14px;
        line-height: 1.14;
    }
}

.contacts__icon {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: block;
        margin-right: 10px;
        fill: currentColor;
    }
}

.contacts__mail {
    @media screen and (max-width: 767px) {
        font-size: 24px;
        line-height: 1.17;
    }
    
}

.contacts__phone {
    @media screen and (max-width: 767px) {
        font-size: 34px;
        line-height: 1.18;
        margin-bottom: 32px;
    }    
}
