/* header */
.page-header {
   
    border-bottom: 1px solid var(--header-border-color);
   

    @media screen and (max-width:767px) {
        position: relative;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    // @media screen and (min-width:768px) {
    //     padding: 26px 0px;
    // }
    
    // @media screen and (min-width:1200px) {
    //     padding-top: 24px;
    //     padding-bottom: 25px;
    // }
}

.page-header__container {
    @media screen and (max-width:767px) {
        position: relative;
    }
    display: flex;
    align-items: center;
    align-content: center;
}

.menu-button {
    display: flex;
    z-index: 2;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    & :hover,
    & :focus {
        fill: var(--axent-color);
    }
    
    @media screen and (min-width:768px) {
        display: none;
    }

}
.menu-button.is-open {
    position: fixed;
    right: 15px;
}
.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;

}

.menu-button.is-open .icon-menu {
    display: none;
}

.menu-container { 
    width: 100%;


    @media  screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    z-index: 1;
    overflow-y: scroll;

    transform: translateX(-100%);
    opacity: 0;
    transition: opacity var(--time-duration) var(--timing-function);
    background-color: var(--white-color);
        
    &.is-open {
        opacity: 1;
        transform: translateX(0);
    }
    }
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        align-content: center;
    }
}