/* logo */
.logo {
    font-family: raleway, sans-serif;
    color: var(--logo-main-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
    }
}

.page-header__logo {
    display: flex;
    width: 134px;
    margin-right: auto;

    @media screen and (min-width: 768px) {
    margin-right: 88px;
    padding: 26px 0;
    }
    
    @media screen and (min-width: 1200px){
    margin-right: 93px;
    width: 145px;
    padding: 24px 0 25px 0;
    }
}

.logo__accent {
    color: var(--axent-color);
}