// social-header

.social-header {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.social-header__link {
    font-family: inherit;
    color: var(--axent-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.social-header__item {
    &:not(:last-child) {
            padding-right: 10px;
            border-right: 1px solid rgba(33, 33, 33, 0.2);
        }
    &:not(:first-child) {
            padding-left: 10px;
    }    
}
