:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --axent-color: #2196F3;
    --white-color: #FFFFFF;
    --logo-main-color: #000000;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --axent-background-color: #2F303A;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --header-border-color: #ECECEC;
    --cards-border-color: #EEEEEE;
    --icon-color: #AFB1B8;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --time-duration: 250ms;
}